/* SMOKE SECTION STYLING */
.smoke__page {
  min-height: 125vh;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.smoke__page .smoke__video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.smoke__content {
  padding: 5% 30%;
  position: relative;
  font-size: var(--fsize-xlarge);
  font-weight: bold;
  z-index: 2;
}

@media screen and (max-width: 1440px) {
  .smoke__content {
    padding: 5% 25%;
  }
}

@media screen and (max-width: 1024px) {
  .smoke__content {
    padding: 5% 20%;
    font-size: 2.7rem;
  }
}