.phone-split__page {
  position: relative;
  padding: 0 18%;
}

.product__container-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.phone__size {
  font-size: var(--fsize-large);
  font-weight: bold;
}

.max__size {
  text-align: right;
}

.pro__size {
  text-align: left;
}

.product__images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.large-phone {
  position: relative;
  transform: translateX(40%) scale(0.8);
  z-index: 1;
}

.small-phone {
  position: relative;
  z-index: 2;
  transform: translateX(-40%) scale(0.8);
}

.retina-line {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  font-weight: bold;
  font-size: var(--fsize-small);
}